*{
    padding: 0%;
    margin: 0%;
}
.blog-container{
    height:135rem;
    width:100%;
    background-color: #f0efee;
    border: 0.01px solid black;
   
}
.blog-container_0{
    height:150rem;
    width:100%;
    background-color: #f0efee;
    border: 0.001px solid black;
   
}
.blog-container-form{
    height:130rem;
    width:90%;
    margin-top: 5%;
 margin-left: 5%;
   background-color: white;
    /* border: 2px solid black; */
}
.blog-container-form0{
    height:140rem;
    width:90%;
    margin-top: 5%;
 margin-left: 5%;
   background-color: white;
    /* border: 2px solid black; */
}
.blog-gap{
    height: 15vh;
    width:100% ;
   
    background-color: #f0efee;
   
}
.blog-container1{
    height:auto;
    width:90%;
    margin-left: 5%;
   
    
    background-color: white;
    /* border: 2px solid black; */
}

.blog-container10{
    height:85vh;
    width:90%;
    margin-top: 0%;
    margin-left: 5%;
    background-color: white;
   
}
.blog-img img{
    height: 45%;
    width: 95%;
    margin-top: 5%;
}
.blog-img1 img{
    height: 45%;
    width: 85%;
   
}
.blog-content{
    margin-top: 2%;
}
.blog-content span{
    font-size: 30px;
    font-weight: 400;
    
}
.blog-content0{
    margin-top: 2%;
}
.blog-content0 span{
    font-size: 32px;
    font-weight: 500;
    
}
.blog-paragarph_1{
    margin-top: 2%; 
}
.blog-paragarph_1 p{
    font-size: 30px;
    font-weight: 500;
}
.blog-img0 img{
 height: 30vh;
 width: 30%;
 margin-top: 5%;
}
.blog-content1{
    margin-top: 2%;
}
.blog-content1 p{
    color: rgb(66, 66, 94);
    font-weight: 700;
    font-size: 20px;
}
.blog-content2{
    width: 100%;
}
.blog-link{
    margin-top: 3%;
    
}
a{
    color: gold;
    text-decoration: none;
}
.blog-paragarph{
    margin-top: 2%;
    font-size: 16px;
    gap: 20px;
    font-weight: 300;
}
.blog-paragarph1 p{
    margin-top: 2%;
    font-style: italic;
    font-size: 16px;
    gap: 20px;
    font-weight: 300;
}
.blog-paragarph2 p{
    margin-top: 2%;
    font-size: 16px;
    gap: 20px;
    font-weight: 300;
}
.blog-text{
    margin-top: 2%;
}
.blog-text textarea{
    height: 30vh;
    width: 100%;
    border: 2px solid #f0efee;
    background-color: #f0efee;
}
.blog-form{
    display: flex;
    margin-top: 2%;
    gap: 20px;
}
.blog-form input{
    height: 6vh;
    width: 30%;
    gap: 20px;
    background-color: #eeeff3;
    border: 2px solid #f0efee;
}
.blog-check{
    display: flex;
    margin-top: 2%;
    gap: 10px;
}
.blog-btn{
    margin-top: 2%;
}
.blog-btn button{
    height: 50px;
    width: 15%;
    border: gold;
    color: black;
    font-size: large;
    font-weight: 400;
    background-color: gold;

}
.blog-icon{
    margin-top: 1%;
    display: flex;
    
}
.blog-icons{
    height: 15vh;
    width: 80%;
    border: 0px solid black;
    
}
/* @media (max-width:1024px) {
    container_0{
        
        height: 30%;
    }
    
    
} */
@media (max-width:1024px) {
    
    .blog-container_0{
        height: 40%;
    }

}
@media (max-width:1024px) {
    
    .blog-container{
        height: 40%;
    }

}
@media (max-width:768px) {
    
    .blog-container{
        height: 60%;
    }

}
@media (max-width:364px) {
    
    .blog-container{
        height: 0%;
    }

}
@media (max-width:364px) {
    
    .blog-container10{
        height: 20%;
        font-size: 10px;
    }

}
@media (max-width:364px) {
    
    .blog-form text{ 
       display: inline-block;
       box-sizing: inherit;
    }

}
@media (max-width:376px)  {
    .blog-btn button{
        width: 80%;
        height: 40px;
        margin-top: 10px;
    }
}
@media (max-width:364px)  {
    .blog-check{
        width: 100%;
        height: 30px;
        font-size: 12px;
        margin-top: 10px;
    }
}
@media (max-width:768px)  {
    .blog-img0 img{
        width: 50%;
        margin-top: 10px;
    }
}
@media (max-width:980px)  {
    .blog-btn button{
        width: 30%;
        height: 40px;
        margin-top: 10px;
    }
}
@media (max-width:768px)  {
    .blog-check{
        width: 100%;
        height: 30px;
        font-size: 12px;
        margin-top: 10px;
    }
}
@media (max-width:364px)  {
    .blog-img0 img{
        width: 50%;
        margin-top: 10px;
    }
}



@media (max-width:1024px) {
    
    .blog-container-form0{
        height: 10%;
    }

}
@media (max-width:768px) {
    
    .blog-container_0{
        height: 40%;
    }

}
@media (max-width:768px) {
    
    .blog-container-form0{
        height: 10%;
    }

}