*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.know{
    margin-top: 8%;
    margin-left: 72%;
}
.know-p1{
    color: rgba(254, 198, 63, 1);
    font: 'Roboto';
    font-weight: 400;
    font-size: 12px;
}
.know-p2{
    color: rgba(43, 42, 41, 1);
    font-size: 30px;
    font-weight: 700;
    font: 'Roboto';
}
.know-mid{
    display: flex;
    width: 84%;
    margin: auto;
    padding-top: 1%;
    gap: 30%;
}
.know-about{
    position:absolute;
    left: 10%;
    width: 270px;
    height: 320px;
}
.know-circle{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 285%;
    left: 16%;
}
.know-about2{
    position: relative;
    top: 63%;
    left: 65%;
    width: 250px;
    height: 140px;
}
.blur{
    position: absolute;
    width: 50px;
    height: 200px;
    left: 28.5%;
    top: 260%;
}
.know-foot{
    background-color: rgba(254, 198, 63, 1);
    margin-top: 6%;
    height: 40px;
    width: 100%;
}
.know-paras{
    color:  rgba(43, 42, 41, 1);
    font: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}
.know-mid-p{
    color: rgba(24, 25, 28, 1);
    font: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    margin: 20px 0px 15px 0px;
}
.parrow-flex{
    display: flex;
    gap: 0.4rem;
    margin-top: 2%;
}
.parrow{
    margin-top: 0.8%;   
    width: 20px;
    height: 20px;
}
@media only screen and (max-width: 320px) {
    .know{
        width: 50%;
        margin-top: 2%;
        margin-left: 22%;
    }
    .know-p1{
        font-size: 8px;
    }
    .know-p2{
        font-size: 20px;
    }
    .know-mid{
        display: flex;
        flex-direction: column;
        width: 86%;
    }
    .know-mid-resp{
        margin-top: 35%;
        /* margin-left: -5%; */
    }
    .know-about{
        position:absolute;
        left: 13%;
        width: 120px;
        height: 130px;
    }
    .know-circle{
        position: relative;
        left: 50%;
        width: 60px;
        height: 60px;
        /* top: 285%; */
    }
    .know-about2{
        position: relative;
        top: 1%;
        left: 10%;
        width: 110px;
        height: 80px;
    }
    .blur{
        position: absolute;
        width: 30px;
        height: 100px;
    }
    .know-foot{
        margin-top: 6%;
        height: 40px;
        width: 100%;
    }
    .know-paras{
        /* width: 100%; */
        text-align: start;
        font-size: 12px;
    }
    .know-mid-p{
        font-size: 12px;
    }
    .parrow-flex{
        display: flex;
        gap: 0.4rem ;
        margin-top: 2%;
    }
    .parrow{
        margin-top: 0.8%;   
        width: 17px;
        height: 17px;
    }
}
@media (min-width:320px) and (max-width: 480px) {
    .know{
        width: 50%;
        margin-top: 1%;
        margin-left: 22%;
    }
    .know-p1{
        font-size: 8px;
    }
    .know-p2{
        font-size: 20px;
    }
    .know-mid{
        display: flex;
        flex-direction: column;
        width: 86%;
    }
    .know-mid-resp{
        margin-top: 22%;
        /* margin-left: -5%; */
    }
    .know-about{
        position:absolute;
        left: 13%;
        width: 150px;
        height: 160px;
    }
    .know-circle{
        position: relative;
        left: 40%;
        width: 60px;
        height: 60px;
        /* top: 285%; */
    }
    .know-about2{
        position: relative;
        top: 1%;
        left: 19%;
        width: 130px;
        height: 90px;
    }
    .blur{
        position: absolute;
        width: 30px;
        height: 100px;
    }
    .know-foot{
        margin-top: 6%;
        height: 40px;
        width: 85%;
    }
    .know-paras{
        width: 80%;
        text-align: start;
        font-size: 12px;
    }
    .know-mid-p{
        font-size: 12px;
    }
    .parrow-flex{
        display: flex;
        gap: 0.4rem ;
        margin-top: 2%;
    }
    .parrow{
        margin-top: 0.8%;   
        width: 17px;
        height: 17px;
    }
}
@media (min-width:480px) and (max-width: 576px) {
    .know{
        width: 50%;
        margin-top: 8%;
        margin-left: 60%;
    }
    .know-p1{
        font-size: 10px;
    }
    .know-p2{
        font-size: 25px;
    }
    .know-mid{
        display: flex;
        flex-direction: column;
        width: 86%;
    }
    .know-mid-resp{
        margin-top: 22%;
        /* margin-left: -5%; */
    }
    .know-about{
        position:absolute;
        left: 13%;
        width: 180px;
        height: 200px;
    }
    .know-circle{
        position: absolute;
        left: 40%;
        width: 60px;
        height: 60px;
        top: 174%;
    }
    .know-about2{
        position: relative;
        top: 1%;
        left: 33%;
        width: 175px;
        height: 110px;
    }
    .blur{
        position: absolute;
        width: 30px;
        height: 100px;
    }
    .know-foot{
        margin-top: 6%;
        height: 40px;
        width: 100%;
    }
    .know-paras{
        width: 96%;
        text-align: start;
        font-size: 14px;
    }
    .know-mid-p{
        font-size: 12px;
    }
    .parrow-flex{
        display: flex;
        gap: 0.4rem ;
        margin-top: 2%;
    }
    .parrow{
        margin-top: 0.8%;   
        width: 17px;
        height: 17px;
    }
}
@media (min-width:576px) and (max-width: 768px) {
    .know{
        margin-top: 8%;
        margin-left: 70%;
    }
    .know-p1{
        font-size: 14px;
    }
    .know-p2{
        font-size: 30px;
    }
    .know-mid{
        display: flex;
        width: 115%;
        padding-top: 1%;
        gap: 20%;
    }
    .know-about{
        position:absolute;
        left: 7%;
        width: 260px;
        height: 320px;
    }
    .know-circle{
        position: absolute;
        width: 100px;
        height: 100px;
        top: 316%;
        left: 16%;
    }
    .know-about2{
        position: relative;
        top: 57%;
        left: 67%;
        width: 230px;
        height: 140px;
    }
    .blur{
        position: absolute;
        width: 50px;
        height: 200px;
        left: 41%;
        top: 280%;
    }
    .know-foot{
        margin-top: 6%;
        height: 40px;
        width: 122%;
    }
    .know-paras{
        font-size: 16px;
    }
    .know-mid-p{
        font-size: 18px;
        margin: 20px 0px 15px 0px;
    }
    .parrow-flex{
        display: flex;
        gap: 0.4rem;
        margin-top: 2%;
    }
    .parrow{
        margin-top: 0.8%;   
        width: 20px;
        height: 20px;
    }   
}