*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
}
a{
  color: gold;
}


.user a{
    text-decoration: none;
    color: black;
}
.supply a{
    text-decoration: none;
    color: black;
}
.user1 a{
    text-decoration: none;
    color: black;
}
.supply1 a{
    text-decoration: none;
  width: 0%;
    color: black;
}

/* {
} */

.container-log{
    height: 98vh;
    width: 95%;

  
    display: flex;
    margin-left: 1%;
}

.container-supply{
    height: 98vh;
    width: 80%;

  
    display: flex;
    margin-left: 1%;
}
.img1{
    /* height: 98vh; */
    width: 50%;
    height: 90vh;
    margin-top: 20px;
    margin-left: 20px;
   
    border-radius: 50px;
}

.img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;

}
.img-supply{
    /* height: 98vh; */
    width: 70%;
    height: 90vh;
    margin-top: 20px;
    margin-left: 20px;
   
    border-radius: 50px;
}
.img-supply img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;

}

.login{
    height: 98vh;
    width: 50%;
   
}
.loginsupplier{
    height: 90vh;
    width: 50%;
    
   
}
.login-supply{
    height: 98vh;
    width: 40%;
    margin-left: 0%;
   
}
.wel{
    margin-left: 55%;
    padding-top: 2%;
    font-weight: 500;
    font-size: medium;

}
.wel-supply{
    margin-left: 90%;
    padding-top: 10%;
    font-weight: 500;
    font-size: medium;

}
.div{
    height: 50px;
    width: 82%;
    display: flex;
    border: 2px solid black;
    margin-left: 20%;
    background-color: #F8EDDD;
    border: #F8EDDD;
    padding-left: 10px;
    margin-top: 2%;
    border-radius: 20px;
    
}
.div-supply{
    height: 50px;
    width: 110%;
    display: flex;
    border: 2px solid black;
    margin-left: 50%;
    background-color: #F8EDDD;
    border: #F8EDDD;
    padding-left: 10px;
    margin-top: 4%;
    border-radius: 20px;
    
}
.user{
    height: 30px;
    width: 40%;
   padding-top: 2px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: gold;
}
.supply1{
    height: 30px;
    width: 50%;
   padding-top: 2px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: gold;
}

.iconbtn span {
    width: 30px;
}



.supply{
    height: 30px;
    width: 40%;
    padding-top: 2px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}
.user1{
    height: 30px;
    width: 40%;
    padding-top: 2px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}
.info-log{
    height: 25vh;
    width: 60%;
/* border: 2px solid black; */
    margin-left: 15%;
    margin-top: 5%;
}
.userlogsupply{
    height: 30vh;
    width: 145%;
    display: flex;
   
     
    margin-left: 0%;
    /* border: 2px solid black; */
   
    
}
.imagesupply{
    height: 20vh;
    width: 35%;
   padding-right: 0%;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   background-color: #F3F3F3;

    
}
.imagesupply1{
    height: 5vh;
    width: 100%;
    margin-top: 95%;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 100;
    padding-top: 7px;
    padding-left: 5px;
    
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   
}
.info-supply{
    height: 30vh;
    width: 80%;
   
    margin-left: 40%;
    margin-top: 5%;
}
label{
    display: block;
    margin-left: 15%;
    margin-top: 5%;
    
}
.user-log input{
    height: 40px;
   width: 130%;
   margin-right: 20px;
   padding-right: 10px;
   padding-left: 10px;
   margin-top: 2%;
  
   border-radius: 20px;
   border: 1px solid black;
   background-color: white;
   
}
.user-pass input{
    height: 40px;
   width: 130%;
   margin-right: 20px;
   padding-right: 10px;
   padding-left: 10px;
   margin-top: 2%;
  
   border-radius: 20px;
   border: 1px solid black;
   background-color: white;
   
}
.sup input{
    height: 40px;
   width: 95%;
   margin-right: 20px;
   padding-right: 10px;
   padding-left: 10px;
   margin-top: 2%;
  
   border-radius: 20px;
   border: 1px solid black;
   background-color: white;
   
}
.me{
    height: 5vh;
    width: 90%;
  /* border: 2px solid black; */
    margin-left: 15%;
    padding-bottom: 0px;
    
    display: flex;
}
.checkbox{
    height: 20px;
    width: 20px;
    margin-bottom: 10px;
   
}
small{
    margin-left: 50px;
    margin-top: 10px;
}
.for{
    margin-left: 250px;
    font-size: small;
    margin-top: 10px;

}
.icon{
    height: 10vh;
    width: 50%;
    margin-left: 40%;
    margin-top: 2%;
    /* border: 2px solid black; */
    /* display: flex; */
    text-align: center;
}

.icon .iconbtn{
display: flex;
gap: 15px;
padding-top: 20px;
}

.sub-login{
    height: 40px;
    width: 100%;
    margin-top: 10%;
    margin-left:5% ;
    padding-left: 80px;    
}
.log-button{
    border-radius: 20px;
}
.do{
    margin-left: 30%;
    margin-top: 5%;
    padding-left: 50px;
}
.sub-sign{
    margin-top: 15%;
    margin-left: 5%;
    padding-left: 100px;
    display: flex;
}
.do1{
    margin-left: 30%;
    margin-top: 5%;
    padding-left: 80px;
}
.sup{
    height: 80px;
    width: 135%;
    margin-top:0% ;
    
 
    display: flex;
}
.user-log1{
    height: 80px;
    width: 100%;
    margin-top:0% ;
   margin-bottom: 0px;
    /* border: 2px solid black; */
    
 
   
}

.user-log1 input{
    height: 40px;
    width: 130%;
    margin-right: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 0%;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
   
}
.user-logsupply input{
    height: 40px;
    width: 80%;
    margin-right: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 0%;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
   
}
.supsupply{
    height: 80px;
    width: 80%; 
    display: flex;
}
.supsupply input{
    height: 40px;
    width: 60%;
}
.supsupply label{
    padding-left: 25px;
}
.sup label{
    padding-left: 25px;
}
.registration button{
    height: 40px;
    width: 120%;
    padding-left: 50px;
    padding-right: 50px;
   
    margin-top:0%;

}
.registration {
    display: flex;
    height: 40px;
    width: 130%;
gap: 100px;
    margin-top: 1%;

}
.registration1 {
    display: flex;
    height: 40px;
    width: 100%;
gap: 100px;
    margin-top: 2%;
    margin-left: 40%;

}
.registration1 button{
    height: 40px;
    width: 80%;
   
    padding-left: 30px;
    padding-right: 50px;
   
    margin-top:0%;

}



@media (max-width:468px) {
    .container-log{
        height: 100%;
        width:100% ;
        flex-direction: column;
    }
}
@media (max-width:468px) {
    .img1 {
        height: 0%;
        width:90% ;
       
    }
}
@media (max-width:468px) {
    .login{
        height: 0%;
        width:100% ;
        margin-top: 0%;
        padding-top: 0%;
        margin-right:10%;
        
       
    }
}
@media (max-width:468px) {
    .div{
        height: 0%;
        width:80% ;
        margin-right:10%;
        
       
    }
}



@media (max-width:768px) {
    .container-log{
        height: 100%;
        width:100% ;
        flex-direction: column;
    }
}
@media (max-width:768px) {
    .img1 {
        height: 0%;
        width:90% ;
       
    }
}
@media (max-width:768px) {
    .login{
        height: 0%;
        width:100% ;
        margin-top: 0%;
        padding-top: 0%;
        margin-right:10%;
        
       
    }
}
@media (max-width:768px) {
    .div{
        height: 0%;
        width:80% ;
        margin-right:10%;
        
       
    }
}
@media (max-width:768px) {
    .sup{
        height: 100%;
        width:100% ;
        flex-direction: column;
    }
}
@media (max-width:468px) {
    .sup{
        height: 100%;
        width:100% ;
        flex-direction: column;
    }
}
@media (max-width:768px) {
    .registration{
        height: 100%;
        width:50% ;
        flex-direction: column;
    }
}
@media (max-width:468px) {
    .registration{
        height: 100%;
        width:50% ;
        flex-direction: column;
    }
}

@media (max-width:768px) {
    .container-supply{
        height: 100%;
        width:100% ;
        margin-top: 0%;
        flex-direction: column;
    }
}
@media (max-width:468px) {
    .container-supply{
        height: 100%;
        width:100% ;
        flex-direction: column;
    }
}
@media (max-width:468px) {
    .img-supply {
        height: 0%;
        width:90% ;
       
    }
}
@media (max-width:768px) {
    .img-supply {
        height: 0%;
        width:90% ;
       
    }
}
@media (max-width:768px) {
    .login-supply{
        height: 0%;
        width:50% ;
        margin-top: 0%;
        padding-top: 0%;
        margin-right:0%;
        
       
    }
}
@media (max-width:468px) {
    .login-supply{
        height: 0%;
        width:50% ;
        margin-top: 0%;
        padding-top: 0%;
        margin-right:0%;
        
       
    }
}
@media (max-width:768px) {
    .registration1{
        height: 100%;
        width:50% ;
        flex-direction: column;
    }
}
@media (max-width:468px) {
    .registration1{
        height: 100%;
        width:50% ;
        flex-direction: column;
    }
}

@media (max-width:768px) {
    .userlogsupply{
        height: 100%;
        width:100% ;
        margin-top: 0%;
        flex-direction: column;
    }
}
@media (max-width:468px) {
    .userlogsupply{
        height: 100%;
        width:100% ;
        flex-direction: column;
    }
}
@media (max-width:768px) {
    .supsupply{
        height: 100%; 
         width:100% ;
        margin-top: 0%;
        flex-direction: column;
    }
}
@media (max-width:468px) {
    .supsupply{
        height: 100%;
        width:100% ;
        flex-direction: column;
    }
}


