*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.div-1{
    margin-left: 10%;
}
.squarefeet{
    width: 160px;
    height: 50px;
}
.navbar{
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    width: 100%;
    margin-right: 10%;
}
.navbar-ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}
.navbar-ul li{
    color:rgba(43, 42, 41, 1);
    font: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    margin: 4px 0px;
}
.circle{
    width: 36px;
    height: 35px;    
}
.search{
    position: absolute;
    width: 16px;
    height: 20px;
    top: 2.6%;
    right: 28.2%;
}
.nav-btn{
    color: rgba(255, 255, 255, 1);
    font: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(43, 42, 41, 1);
    width: 150px;
    height: 38px;
    padding: 4px;
    box-shadow: 4px 4px grey;
}
.div-2{
    display: flex;
    gap: 2rem;
    margin-left: 20%;
    margin-top: 10px;
}
.navbar-ul.show-menu {
    opacity: 1;
    pointer-events: auto;
}
.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
    /* opacity: 0; */
}
.line {
    width: 33px;
    background-color: rgba(254, 204, 0, 1);
    height: 4px;
    margin: 5px 3px;
}

@media only screen and (max-width: 1100px) {
    .navbar-ul{
        flex-direction: column;
    }
    .navbar{
        /* width: 100%; */
    }
    .navbar {
        flex-direction: column;
        height: 350px;
        transition: all 0.7s ease-out;
        /* padding: 10px; */
    }
    .burger{
        display: block;
    }

    .div-1, .div-2 {
        width: 100%;
        margin: 10px 0;
    }
    .h-nav-resp{
        height: 70px;
    }
    .v-class-resp{
        opacity: 0;
    }
/*  */
    /* .navbar-img-container { */
        /* order: 1; */
    /* } */
/*  */
    /* .navbar-ul { */
        /* order: 3; */
    /* } */
/*  */
    .nav-btn {
        order: 2;
        /* width: 100%; */
    }
/*  */
    .search {
        position: static;
        /* transform: none; */
    }
}