*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
}

.user a{
    text-decoration: none;
    color: black;
}
.supply a{
    text-decoration: none;
    color: black;
}
.user1 a{
    text-decoration: none;
    color: black;
}
.supply1 a{
    text-decoration: none;
  width: 0%;
    color: black;
}

/* {
} */

.container-log{
    height: 98vh;
    width: 100%;
  
    display: flex;
    margin-left: 1%;
}
.img1{
    /* height: 98vh; */
    width: 50%;
    height: 90vh;
    margin-top: 20px;
    margin-left: 20px;
   
    border-radius: 50px;
}

.img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;

}

.login{
    height: 98vh;
    width: 50%;
   
}
.wel{
    margin-left: 40%;
    padding-top: 2%;
    font-weight: 500;
    font-size: medium;

}
.div{
    height: 50px;
    width: 60%;
    display: flex;
    border: 2px solid black;
    margin-left: 20%;
    background-color: #F8EDDD;
    border: #F8EDDD;
    padding-left: 10px;
    margin-top: 4%;
    border-radius: 20px;
    
}
.user{
    height: 30px;
    width: 40%;
   padding-top: 2px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: gold;
}
.supply1{
    height: 30px;
    width: 50%;
   padding-top: 2px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: gold;
}

.iconbtn span {
    width: 30px;
}



.supply{
    height: 30px;
    width: 40%;
    padding-top: 2px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}
.user1{
    height: 30px;
    width: 40%;
    padding-top: 2px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}
.info-log{
    height: 30vh;
    width: 60%;
   
    margin-left: 10%;
    margin-top: 5%;
}
label{
    display: block;
    margin-left: 15%;
    margin-top: 5%;
    
}
input{
    height: 40px;
   width: 80%;
   margin-right: 20px;
   padding-right: 10px;
   padding-left: 10px;
   margin-top: 2%;
   border-radius: 20px;
   border: 1px solid black;
   background-color: white;
   
}
.me{
    height: 5vh;
    width: 60%;
  
    margin-left: 10%;
    padding-bottom: 0px;
    
    display: flex;
}
.checkbox{
    height: 20px;
    width: 20px;
    margin-bottom: 10px;
   
}
small{
    margin-left: 50px;
    margin-top: 10px;
}
.for{
    margin-left: 100px;
    font-size: small;
    margin-top: 10px;

}
.icon{
    height: 10vh;
    width: 50%;
    margin-left: 30%;
    margin-top: 2%;
    /* border: 2px solid black; */
    /* display: flex; */
    text-align: center;
}

.icon .iconbtn{
display: flex;
gap: 15px;
padding-top: 20px;
}

.sub-login{
    height: 40px;
    width: 100%;
    margin-top: 10%;
    
    
}
button{
    border-radius: 20px;
}
.do{
    margin-left: 30%;
    margin-top: 5%;
}
.sub-sign{
    margin-top: 15%;
}
.do1{
    margin-left: 30%;
    margin-top: 5%;
}
.sup{
    height: 80px;
    width: 100%;
    margin-top:5% ;
    
 
    display: flex;
}
.sup label{
    padding-left: 25px;
}
.registration button{
    height: 40px;
    width: 50%;
   
    margin-top: 10%;

}

@media (max-width:768px) {
    .container-log{
        display: block;
    }
}

@media (max-width:425px) {
    .container-log{
        display: block;
    }
}