* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto';
}
.container-supplyl1 {
  /* height: 98vh; */
  width:100%;
  display: flex;
  /* margin-left: 1%; */
}
.login-supplyl1{
  width: 100%;
  /* margin-left: 20%; */
  padding-left: 5%; 
}
.bwell1{
  padding-right: 10%;;
}
.img-supplyl1 {
  height: 98vh;
  width: 97%;
  /* height: 90vh; */
  /* margin-top: 20px; */
  /* margin-left: 20px; */

  /* border-radius: 20px; */
}
.img-supplyl1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.wel-supplyl1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
}
.pic210l1{
  display: flex;
  justify-content: space-between;
}
.pic210l1 img{
  width: 16%;
  height: 35px;
  
}
.user1l1{
  padding: 4px 20% 4px 20%;
  border-radius: 15px;
  text-align: center;
  color: black;
  text-decoration: none;
  background-color:
  rgba(254, 204, 0, 1);
  box-sizing: border-box;
  color: black;
}



.user1l1,.dkrl1{
  text-decoration: none;
}

/* .loginsupplier {
  height: 90vh;
  width: 50%;
} */


/* .div {
  height: 50px;
  width: 82%;
  display: flex;
  border: 2px solid black;
  /* margin-left: 20%; 
  background-color: #f8eddd;
  border: #f8eddd;
  padding-left: 10px;
  margin-top: 2%;
  border-radius: 20px;
} */
.div-supplyl1 {
  /* height: 50px; */
  /* width: 110%; */
  width:100%;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid black; */
  /* margin-left: 50%; */
  background-color: rgba(248, 237, 221, 1);
  /* border: #f8eddd; */
  padding: 6px 0px 6px 6px;
  /* margin-top: 4%; */
  border-radius: 20px;
}


.supply1l1 {
padding: 4px 20% 4px 20%;
text-decoration: none;
color: black;
  /* border-radius: 15px;
  text-align: center;
  color: black;
  text-decoration: none;
  background-color:
  rgba(254, 204, 0, 1); */
  box-sizing: border-box;
}

/* .iconbtn span {
  width: 30px;
} */





.info-supplyl1 {
  /* height: 30vh; */
  width: 100%;

 
}

.user-logl1{
  margin:20px 0px 15px 0px;
  font-family: 'Roboto';
}

.user-log2l1{
  margin: 0px 0px 15px 0px;
  font-family: 'Roboto';
}

.user-log2l1 input{
  width: 100%;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: white;

}



.user-logl1 input {
  /* height: 40px; */
  width: 100%;
  outline: none;
  padding: 10px;
 

  border-radius: 20px;
  border: 1px solid black;
  background-color: white;
}
.user-passl1 input {
  /* height: 40px; */
  width: 100%;
  outline: none;
  padding: 10px;
 

  border-radius: 20px;
  border: 1px solid black;
  background-color: white;
}


.registration1l1 {
  display: flex;
  /* height: 40px; */
  margin-top: 20px;
  width: 100%;
  border: none;
  justify-content: space-between;
}
.registration1l1 .butlerl1  {
 
  /* border: none;
  background: 
  rgba(254, 204, 0, 1);
  padding: 6px 20% 6px 20%;

  border-radius: 15px;
  box-sizing: border-box; */
  width: 100%;

  
}


 .butlerl1 button{
  box-sizing: border-box;
  background: 
  rgba(254, 204, 0, 1);
  border: none;
  padding: 6px 20% 6px 20%;
  border-radius: 15px;
  width: 50%;
  

}

.dosulppyl1{
  font-size: small;
  width: 50%;
}

.dkrl1{
  color:rgba(254, 204, 0, 1) ;
  padding-left: 7px;
}


.checkforl1{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  /* font-size: small; */
}
.checkforl1 small{
  padding-bottom: 10px;
}

.lastl1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.orl1 span{
  margin-left: 10px;
}

.iconbtn1l1 img,.iconbtn2l1 img{
  width: 15px;
  height: 15px;
  
}

.iconbtn1l1,.iconbtn2l1{
  border-radius: 15px;
  padding: 6px 20px 6px 20px;
  border: 1px solid rgba(240, 237, 255, 1);
  width: 100%;
  margin-top: 10px;
}

.iconbtn1l1 span,.iconbtn2l1 span{
  padding: 5px 5px 10px 5px;

}




 @media (min-width:360px) and (max-width:768px){
  .container-supplyl1 {
      /* height: 98vh; */
      width:100%;
      height: auto;
    
      display: flex;
      flex-direction: column;
      height: auto;
      /* margin-left: 1%; */
      padding: 10px;
    }

    .img-supplyl1 {
      height: auto;
      width: 100%;
      /* height: 90vh; */
      /* margin-top: 20px; */
      /* margin-left: 20px; */
    
      /* border-radius: 20px; */
    }
    .login-supplyl1{
      width: 100%;
      /* margin-left: 20%; */
      padding-left: 5%; 
      padding-top: 10px;
    }

    .supply1l1 {
      padding: 4px 8% 4px 6%;
        
        font-size: small;
        box-sizing: border-box;
        text-decoration: none;
        color: black;
      }
      .pic210l1 img{
          width: 26%;
          height: 35px;
          
        } 
        
        .registration1l1 .butlerl1  {
 
          /* border: none;
          background: 
          rgba(254, 204, 0, 1);
          padding: 6px 20% 6px 20%;
        
          border-radius: 15px;
          box-sizing: border-box; */
          width: 100%;
        
          
        }
        
        
         .butlerl1 button{
          box-sizing: border-box;
          text-align: center;
          background: 
          rgba(254, 204, 0, 1);
          border: none;
          /* padding: 6px 0% 6px 0%; */
          border-radius: 15px;
          width: 90%;
          
        
        }
        
        .dosulppyl1{
          font-size: 10px;
          width: 100%;
          padding-top: 10px;
        }
        .dkrl1{
          font-size: small;
        }
        .orl1 span{
          margin-left: 20px;
        }

 }






 @media (min-width:200px) and (max-width:358px){
  .container-supplyl1 {
      /* height: 98vh; */
      width:100%;
      height: auto;
    
      display: flex;
      flex-direction: column;
      height: auto;
      /* margin-left: 1%; */
      padding: 10px;
    }

    .img-supplyl1 {
      height: auto;
      width: 100%;
      /* height: 90vh; */
      /* margin-top: 20px; */
      /* margin-left: 20px; */
    
      /* border-radius: 20px; */
    }
    .login-supplyl1{
      width: 100%;
      /* margin-left: 20%; */
      padding-left: 5%; 
      padding-top: 10px;
    }

    .supply1l1 {
      padding: 4px 8% 4px 6%;
        
        font-size: small;
        box-sizing: border-box;
        text-decoration: none;
        color: black;
      }
      .pic210l1 img{
          width: 26%;
          height: 35px;
          
        }

        
        
        
        
        .registration1l1 .butlerl1  {
 
          /* border: none;
          background: 
          rgba(254, 204, 0, 1);
          padding: 6px 20% 6px 20%;
        
          border-radius: 15px;
          box-sizing: border-box; */
          width: 100%;
        
          
        }
        
        
         .butlerl1 button{
          box-sizing: border-box;
          text-align: center;
          background: 
          rgba(254, 204, 0, 1);
          border: none;
          /* padding: 6px 0% 6px 0%; */
          border-radius: 15px;
          width: 90%;
          
        
        }
        
        .dosulppyl1{
          font-size: 10px;
          width: 100%;
          padding-top: 10px;
        }
        .dkrl1{
          font-size: small;
        }
        .orl1 span{
          margin-left: 20px;
        }

 }

