*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.footer{
    margin-top: 25px;
    background-image: url('footer images/footer-background.png');
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 25px 0px;
    width: 100%;
}
.footer-midd-flex{
    display: flex;
}
.footer-p-gap p{
    padding: 8px;
}
.footer-p1{
    color: rgba(255, 255, 255, 1);
    font: 'Roboto';
    font-weight: 500;
    font-size: 20px;
}
.footer-p2{
    color: rgba(144, 144, 144, 1);
    font: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    /* margin-bottom: 10px; */
}
.footer-images-gap{
    margin-top: 20px;
}
.footer-images-gap img{
    margin-left: 0.4rem;
}
.footer-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 5%;
    gap: 0.5rem;
}
.footer-mail{
    color: rgba(104, 106, 111, 1);
    font: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    padding: 8px;
    width: 200px;
    border: 1px solid rgba(241, 238, 246, 0.5);
    background-color: rgba(255, 255, 255, 1);
}
.footer-subscribe{
    color: rgba(0, 0, 0, 1);
    font: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    padding: 8px;
    width: 200px;
    border: 1px solid rgba(254, 198, 63, 1);
    background-color: rgba(254, 198, 63, 1);
}
.footer-link-color{
    color: rgba(144, 144, 144, 1);
    text-decoration: none;
}
@media only screen and  (max-width: 320px) {
    .footer-squarefeet{
        /* width: 40px; */
        /* height: 20px; */
    }
    .footer{
        background-image: url('footer images/footer-background.png');
        display: grid;
        grid-template-areas:
        'firstdiv firstdiv'
        'twodiv threediv'
        'fourdiv fourdiv';
        /* flex-direction: column; */
        width: 100%;
        text-align: center;
    }
    #first-div{
        grid-area: firstdiv;
    }
    #two-div{
        grid-area: twodiv;
    }
    #three-div{
        grid-area: threediv;
    }
    #four-div{
        grid-area: fourdiv;
    }
    .footer-p-gap p{
        padding: 3px;
    }
    .footer-p1{
        font-size: 16px;
    }
    .footer-p2{
        font-size: 12px;
    }
    .footer-images-gap{
        margin-top: 20px;
    }
    .footer-images-gap img{
        margin-left: 0.5rem;
    }
    .footer-buttons{
        margin-top: 4%;
    }
    .footer-mail{
        font-size: 12px;
        width: 80%;
        margin: auto;
    }
    .footer-subscribe{
        font-size: 12px;
        width: 80%;
        margin: auto;
    }   
}
@media (min-width:321px) and  (max-width: 412px) {
    .footer-squarefeet{
        /* width: 40px; */
        /* height: 20px; */
    }
    .footer{
        background-image: url('footer images/footer-background.png');
        display: grid;
        grid-template-areas:
        'firstdiv firstdiv'
        'twodiv threediv'
        'fourdiv fourdiv';
        width: 100%;
        text-align: center;
    }
    #first-div{
        grid-area: firstdiv;
    }
    #two-div{
        grid-area: twodiv;
    }
    #three-div{
        grid-area: threediv;
    }
    #four-div{
        grid-area: fourdiv;
    }
    .footer-p-gap p{
        padding: 3px;
    }
    .footer-p1{
        font-size: 16px;
    }
    .footer-p2{
        font-size: 12px;
    }
    .footer-images-gap{
        margin-top: 20px;
    }
    .footer-images-gap img{
        margin-left: 0.5rem;
    }
    .footer-buttons{
        margin-top: 4%;
    }
    .footer-mail{
        font-size: 12px;
        width: 77%;
        margin: auto;
    }
    .footer-subscribe{
        font-size: 12px;
        width: 77%;
        margin: auto;
    }   
}
@media (min-width:413px) and  (max-width: 576px) {
    .footer{
        background-image: url('footer images/footer-background.png');
        display: flex;
        width: 110%;
        justify-content: space-evenly;
        background-color: black;
        padding: 25px 0px;
    }
    .footer-squarefeet{
        width: 140px;
        height: 50px;
    }
    .footer-midd-flex{
        display: flex;
    }
    .footer-p-gap p{
        padding: 8px;
    }
    .footer-p1{
        font-size: 16px;
    }
    .footer-p2{
        font-size: 12px;
    }
    .footer-images-gap{
        margin-top: 20px;
    }
    .footer-images-gap img{
        width: 23px;
    }
    .footer-images-gap img{
        margin-left: 0.4rem;
    }
    .footer-buttons{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        margin-left: 5%;
        gap: 0.5rem;
    }
    .footer-mail{
        font-size: 10px;
        text-align: center;
        padding: 6px;
        width: 100px;
    }
    .footer-subscribe{
        font-size: 10px;
        padding: 6px;
        width: 100px;
    }
}
@media (min-width:577px) and  (max-width: 768px) {
    .footer{
        justify-content: space-evenly;
        width: 102%;
        padding: 25px 0px;
    }
    .footer-p-gap p{
        padding: 8px;
    }
    .footer-p1{
        font-size: 20px;
    }
    .footer-p2{
        font-size: 16px;
    }
    .footer-images-gap{
        margin-top: 20px;
    }
    .footer-images-gap img{
        width: 38px;
        margin-left: 0.6rem;
    }
    .footer-buttons{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        margin-left: 5%;
        gap: 0.5rem;
    }
    .footer-mail{
        font-size: 10px;
        text-align: center;
        padding: 6px;
        width: 150px;
    }
    .footer-subscribe{
        font-size: 10px;
        padding: 6px;
        width: 150px;
    }
}