.modal {
    display: block; /* Show the modal */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0;
    top: 0;
    width: 25%; /* Width of the modal */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Modal background color */
    box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.5); /* Add some shadow */
  }
  .modal1 {
    display: block; /* Show the modal */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0;
    top: 0;
    width: 30%; /* Width of the modal */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Modal background color */
    box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.5); /* Add some shadow */
  }
  
  .modal-content {
    padding: 10px;
    height: 10vh;
    width: 90%;
    display: flex;
    margin-top: 5%;
    /* border: 2px solid black; */
  }

  .modal-content1 {
    padding: 10px;
    height: 10vh;
    width: 90%;
    /* display: flex; */
    margin-top: 0%;
    /* border: 2px solid black; */
  }
 
  .modal-content p{
   font-size: 20px;
   font-weight: bold;
    padding-left: 5%;
  }
  .modalemail{
    height: 5vh;
    width: 95%;
    margin-left: 5px;
    color: white;
    padding-top: 5px;
    background-color: black;
    border-radius: 20px;
    border: 2px solid black;
  }
  .modalprofile{
    height: 6vh;
    width: 90%;
    margin-top: 5%;
    margin-left: 20px;
    display: flex;
    gap: 20px;
    /* border: 2px solid black; */
  }
  .modalprofile p{
   font-size: 20px;
   font-weight: 500;
  }
  .modalprofile button{
    height: 6vh;
    width: 40%;
    margin-top: 5%;
    margin-left: 0px;
    display: flex;
    gap: 20px;
    /* border: 2px solid black; */
  }
  .modalprofile button{
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
    background-color: white;
    border: white;
   }

  .modal-btn{
    height: 10vh;
    width: 50%;
    text-align:center;
   margin-top: 80%;
    /* border: 2px solid black; */
  }
  .modal-btn button{
    height: 40px;
    width: 80%;
   color: white;
   border:black;
   background-color: black;
    font-size: 20px;
    font-weight: 500;
  }
  .modal1email{
    height: 50vh;
    width: 95%;
    text-align:left;
    margin-top: 10%;
    margin-left: 5%;
    /* border: 2px solid black; */
  }
  .modal2 input{
    height: 30px;
    width: 95%;
    padding-left: 15px;
    color: #ACACAC;
    border: 1px solid black;
    border-radius: 20px;
  }
  .modal21{
    margin-top: 10%;
    font-size: 18px;
    font-weight: 500;
  }
  .modal21 input{
    height: 30px;
    width: 95%;
    margin-top: 0%;
    padding-left: 15px;
    color: #ACACAC;
    border: 1px solid black;
    border-radius: 20px;
  }
  .modal1-btn{
    height: 10vh;
    width: 95%;
    
   margin-top: 40%;
   margin-left: 5%; 
    /* border: 2px solid black;*/
  }
  .modal1-btn button{
    height: 40px;
    width: 100%;
    padding-left: 45%;
   color: black;
   border:black;
border-radius: 20px;
   background-color:gold;
    font-size: 20px;
    font-weight: 500;
  }
 

  /* .fullmodel{
    height:  95vh;
    width: 95%;
    border: 2px solid black;
  }
   */