*{
  margin: 0;
  padding: 0;
}

.wrap{
  position: fixed;
  background:grey;

top:0;
left:0;
right:0;
bottom:0;
z-index: 100;
}

.main002{
  position: fixed;
  left: 0%;
  top: 0%;
  height: auto;
z-index: 100;


  /* top:0% */
}


.Emain{
  background: white;
  border: 1px solid gray;
  padding: 10px 20px 10px 20px;
  position: fixed;
  box-shadow: 3px 2px 9px gray;
  box-sizing: border-box;
  /* border-radius: 4px; */
  /* left: 5%;
  top:1%;
  width: 65%;
  height: auto; */
  left: 40%;
  top: 1%;
  height: auto;



 
}
.e1,.e4,.e5,.e6 ,.e7,.e8{
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: 1px solid rgba(89, 89, 89, 1);
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 100%;
}

#area0{
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;

}

.pin,.ser1{
  /* display: flex; */
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: 1px solid rgba(89, 89, 89, 1);
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 100%;
  /* flex: 1; */
}



/* .e3 ::placeholder{ */
  /* font-size: 12px; */
  /* padding: 10px  35px 10px 20px;
} */
/* } */




/* .e1,.e4,.e5,.e6,.e7{
  width: 100%;

} */
.pser {
  box-sizing: border-box;
  display: flex;
  gap: 20%;
  /* justify-content: space-between; */
}

.cs{
  display: flex;
  gap: 10px;
}



.b1{
  background: 
  rgba(254, 204, 0, 1);
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 10px;

}

.uploadimg{
  margin-top: 5px;
}

.dotted-box {
  width: 100%;
  height: auto;
  border: 1px dashed
  rgba(43, 42, 41, 1)
  ;
  border-radius: 5px;

}


.dotted-box p{
  font-size: 12px;
}

.box1 div{
  width: 40xp ;
  height: 0px;
  background: gray;

}



.upload-input {
  /* display: none; */
}
.drag .fa-solid{
  position: relative;
  /* width: 90px; */
  left: 39%;
  /* padding: 10%; */
}

.upload-label p{
  margin-left: 29%;
  font-weight: 700;
}


.contain{
  height: 8px;
  width: 8px;
  border-radius: 50%;
  /* border: 1px solid green; */
  text-align: center;
  background:red ;
  color: white;
  font-family: 'Poppins';
  font-size: 6px;
  position: relative;
  left: 80%;
  top:7px;
  
}


.load{
  display: flex;
  justify-content: center;
  align-items: center;
}
.boximg{
  display: flex;
  justify-content: center;
  align-items: center;
}
#boxes{
  /* position: relative; */
  height: 30px;
  width: 30px;
  background:gray;
  border-radius: 5px;
  
}
.wii1{
  height: 30px;
  width: 30px;

}

.bo1{
  margin-right: 10px;
  margin-bottom: 5px;
}







@media (min-width:300px) and (max-width:768px){


.e1,.e4,.e5,.e6 ,.e7,.e8{
  padding: 8px;
}


.pser { 
  display: flex;
  flex-direction: column;
} 

.ps1,.ps2,#serv{
width: 100%;
/* padding-right: 0px; */
}


.main002{
position: fixed;
left: 10%;
top: 2%;
right: 1%;
height: auto;
/* background: white; */
}

.Emain{ 
position: fixed;
right: 1%;
left: 10%;
top: 2%;
top:1%; 
}
  /* .main002{
      position: fixed;
      left: 20%;
      top: 5%;
      height: auto;
      background: white;
      /* height: auto; *
      width: 100%;

  
    
  
      /* top:0% *
  } */
  /* .wrap{
    background: white;
  }
  

  .uploadimg{
     /* width: 100%; *
     background: rgb(186, 50, 50);
  }

  .des00{
    background: white;
  }
   */
  
  /* .Emain{ */
      /* background: white;
      border: 1px solid gray;
      padding: 10px 20px 10px 20px;
      /* position: fixed; */
      /* box-shadow: 3px 2px 9px gray;
      border-radius: 4px; */ 
      /* left: 15%;
      top: 3%;
      /* top:1%; *
      width: 80%;
      height: auto;
      background: white;
  
    
     
  } */

  /* .uploadimg,.maindes{
    background: white;
  }
*/


  /* .pin,.ser1{ */
      /* display: flex; */
      /* padding: 10px;
      border-radius: 20px;
      outline: none;
      border: 1px solid rgba(89, 89, 89, 1);
      box-sizing: border-box; */
      /* margin-bottom: 10px; */
      /* width: 100%;
      /* flex: 1; *
      background: white;
  }
  .pser { */
      /* box-sizing: border-box;
      display: flex; */
      /* gap: 3%;
      /* justify-content: space-between; *
      background: white;
  } */

  /* *{
    margin: 0;
    padding: 0;
    height: 100vh;
} */

/* .Emain{
  height: 40vh;
  background: white;

}
.load,.load1,.boximg{background: white;} */

  



}

